@{
    ViewData["Title"] = "Contact me!";
}
<h1>Tarabica - .NET Development Toolchain on Linux</h1>
<h2>@ViewData["Title"]</h2>

<address>
    <h3>Nemanja Milosevic</h3>
    <a href="mailto:nmilosev@live.com">nmilosev@live.com</a><br />
    <a href="mailto:nmilosev@fedoraproject.org">nmilosev@fedoraproject.org</a><br />
    <a href="http://nmilosev.svbtle.com">Blog - nmilosev.svbtle.com</a><br />
    <a href="http://www.alfasoft.rs">www.alfasoft.rs</a><br />
    <a href="http://twitter.com/nmilosev">@@nmilosev on Twitter</a><br />
</address>

