@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Tarabica - .NET Development Toolchain on Linux</h1>
    <p>
        Running .NET v.@System.Environment.Version.ToString().
        <br>
        Server: @Environment.MachineName - @Environment.UserName @@ @Tarabica.Distribution.Name (@Tarabica.Distribution.Kernel)
        <br>

    </p>
    <p><a class="btn btn-primary btn-lg" href="http://tarabica.msforge.net" role="button">Tarabica 2016.</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Text Editors & IDEs</h2>
        <ul>
            <li><a href="http://omnisharp.net">OmniSharp</a></li>
            <li><a href="https://www.sublimetext.com/">Sublime Text</a></li>
            <li><a href="hhttps://atom.io/">Atom</a></li>
            <li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
            <li><a href="http://www.monodevelop.com/">MonoDevelop</a></li>
            <li><a href="https://www.jetbrains.com/rider/">Project Rider</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Open source libraries</h2>
        <ul>
            <li><a href="https://github.com/quozd/awesome-dotnet">Awesome .NET</a></li>
            <li><a href="https://tldrlegal.com/">TL;DR Legal</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>.NET Core</h2>
        <ul>
            <li><a href="http://dotnet.github.io/">.NET Core Home</a></li>
            <li><a href="https://github.com/dotnet/corefx">.NET Core Source</a></li>
            <li><a href="https://github.com/dotnet/cli">.NET CLI Source</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>Other links</h2>
        <ul>
            <li><a href="http://www.dotnetfoundation.org/">DotNetFoundation</a></li>
            <li><a href="http://www.mono-project.com/">Mono Project</a></li>
            <li><a href="http://fedoraproject.org">Fedora Project</a></li>
            <li><a href="http://redhatloves.net">Red Hat Loves .NET</a></li>
            <li><a href="https://fedoraproject.org/wiki/Marketing/Why_FOSS">Why FOSS?</a></li>            
        </ul>
    </div>
</div>
